<h1>Logueate</h1>
<form id="loginForm">
  <label>Correo electrónico</label>
  <input name="email">
  <label>Contraseña</label>
  <input type="password" name="password">
  <button type="submit">Ingresar</button>
  <p id="loginError"></p>
</form>
<p>¿No estás logueado? <a href="/register">Regístrate :)</a></p>
<p>Tambien puedes ingresar por:</p>
<a href="/api/sessions/github">GITHUB</a>

<script src="/js/login.js"></script>