.container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productCard {
    width:250px;
    height:350px;
    border-radius: 10px;
    border:1px solid black;
    text-align: center;
}

.productCardimg {
    width:30mm !important;
    height:20mm !important;
}
