.titulo {
    color: blue;
    font-size: 24px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    /* Otros estilos deseados */
  }
  
  .productCard {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    /* Otros estilos deseados */
  }
  
  .productCard p {
    margin: 0;
  }
  
  .productCardImg {
    width: 100%;
    max-width: 200px;
    /* Otros estilos deseados */
  }
  
  .agregarBtn {
    background-color: green;
    color: white;
    /* Otros estilos deseados */
  }
  
  .disabledBtn {
    background-color: gray;
    color: white;
    /* Otros estilos deseados */
  }
  
  .prevBtn,
  .nextBtn {
    background-color: blue;
    color: white;
    /* Otros estilos deseados */
  }
  